body {
    background-color: #f9f9f9;
}

.right-align {
    margin-left: auto;
    display: block;
}

.label {
    font-weight: bold;
}

.first-entry{
    border-left: 1px solid black;
}
.entry {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1px;
}

a:link {color: blue;}
a:visited {color: purple;}

.playButton {
    padding: 0px;
}

.btn-blue {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-green {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-yellow {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-red {
    background-color: #dc3545;
    border-color: #dc3545;
}

/*
 https://stackoverflow.com/questions/56025536/will-change-memory-consumption-is-too-high-firefox-issue
 https://github.com/ajaxorg/ace-builds/issues/142
 */
.ace_hidpi .ace_text-layer,
.ace_hidpi .ace_gutter-layer,
.ace_hidpi .ace_content,
.ace_hidpi .ace_gutter {
    contain: strict;
    will-change: auto;
}